.product{
    align-items: center;
    flex: 3;
    flex-direction: column;
justify-content: space-between;

}
.product h1 span{
    font-size: 300px;
}

img{
    width: 130px;
    height: 130px;
    flex: 3;
    flex-direction: column;
justify-content: space-between;
}